{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Inicio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="img js-fullheight" style="background-image: url({% static 'images/bg3.jpg' %});">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">BIENVENIDO</h2>
                <h3 class="heading-section">Fundación Americana del Autismo</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center"><strong>Nueva contraseña</strong></h3>
                    {% if validlink %}
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                            {{ form.new_password1.errors }}
                            <input for="id_new_password1" class="form-control" placeholder="Contraseña"  {{ form.new_password1 }}
                            </div>
                              <br>
                              <div>
                            {{ form.new_password2.errors }}
                            <input for="id_new_password1" class="form-control" placeholder="Confirme la contraseña"{{ form.new_password2 }}
                                   </div>
                            <br>
                            <button style="color: #FFFFFF" type="submit" class="btn btn-warning form-control-file" ><strong>Cambiar mi contraseña</strong></button>

                        </form>
                    {% else %}
                        <h3 class="mb-4 text-center"><strong>Enlace inválido: Este enlace ya ha sido utilizado</strong></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

